nav {
	background-color: rgb(50, 50, 50);
}

nav a {
	color: white;
	margin: auto 20px;
	font-size: 20px;
}

.about-profile-pic {
	height: 600px;
	background-image: url('https://i.imgur.com/Qh5PceU.png');
	background-size: cover;
	display: flex;
	justify-content: space-around;
}

.about-profile.pic::after {
	opacity: 0.5;

}

.about {
	display: flex;
	text-align: left;
	justify-content: space-around;
	margin: 20px 70px;
	font-size: 30px;
}

.about-me-title {
	text-align: center;
}

.profile-container {
	align-self: center;
	flex-direction: row;
	color: white;
}
.profile-pic {
	height: 190px;
	width: 190px;
	border: 1px solid black;
	border-radius: 50%;
}


.project-container {
	margin: 20px;
}

.skill-container {
	margin: 20px;
}

.skills {
	display: flex;
	justify-content: space-around;
}

.skill-image {
	width: 50px;
	height: 50px;
	justify-content: space-around;
}


.projects {
	display: flex;
	justify-content: center;
	justify-content: space-around;
}

.project-image {
	width: 280px;
	height: 260px;
	border: 5px solid gray;
	border-radius: 10px;
}

.see-the-world-logo {
	width: 310px;
	height: 270px;
	border: 5px solid gray;
	border-radius: 10px;
}

#shooting-hoop-image {
	width: 800px;
	border: 5px solid gray;
	border-radius: 10px;
}

.see-the-world-image {
	width: 560px;
	height: 350px;
	border: 5px solid gray;
	border-radius: 10px;
}

.tech-used {
	display: flex;
	justify-content: space-around;
	margin: auto 300px;
}

.about-project-info {
	font-size: 20px;
	margin: auto 150px;
}

.contact-logo {
	display: flex;
	justify-content: center;
}

.github-linkedin  {
	height: 70px;
	width: 70px;
	margin: auto 20px;
}

footer {
	margin-top: 20px;
	background-color: white;
}

.resume {
	color: white;
}
